@font-face {
    font-family: 'BCSans';
    font-style: normal;
    src: url('/assets/fonts/BCSans/BCSans-Regular.woff2') format('woff2'), url('/assets/fonts/BCSans/BCSans-Regular.woff') format('woff');
}
@font-face {
    font-family: 'BCSans';
    font-style: italic;
    src: url('/assets/fonts/BCSans/BCSans-Italic.woff2') format('woff2'), url('/assets/fonts/BCSans/BCSans-Italic.woff') format('woff');
}
@font-face {
    font-family: 'BCSans';
    font-weight: 700;
    src: url('/assets/fonts/BCSans/BCSans-Bold.woff2') format('woff2'), url('/assets/fonts/BCSans/BCSans-Bold.woff') format('woff');
}
@font-face {
    font-family: 'BCSans';
    font-style: italic;
    font-weight: 700;
    src: url('/assets/fonts/BCSans/BCSans-BoldItalic.woff2') format('woff2'), url('/assets/fonts/BCSans/BCSans-BoldItalic.woff') format('woff');
}
body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, ‘BCSans’, ‘Noto Sans’, Verdana, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 1em;
    line-height: 1.25;
}
p {
    font-size: 1em;
    line-height: 1.6;
    margin-bottom: 2.250em;
    color: #494949;
}
a .btn-primary i {
    color: #fff;
}
.btn-link:hover {
    text-decoration: none;
}
.btn-link:focus {
    text-decoration: none;
}
.content {
    /* margin-top: 6.938em; this is the height when navigation bar is included*/
    margin-top: 4.063em;
    margin-bottom: 3.000em;
    z-index: 99;
}

