---
layout: default
---
<div class="page-header">
  <h2 class="text-center">
    {% if page.pictures.icon %}
    <img class="img-fluid mr-3 mascot" src="{{ site.baseurl }}/assets/images/{{ page.pictures.icon }}" alt="mascot">
    {% endif %}
    {{ page.title }}

    {% if page.name %}
    ({{ page.name }})
    {% endif %}

    {{ page.version }}
  </h2>
  <div class="page-description">
    <div class="container page-description-content">
      <div class="text-center">
        {% if page.pictures.header %}
        <img class="img-fluid mr-3" src="{{ site.baseurl }}/assets/images/{{ page.pictures.header }}" alt="service">
        {% endif %}
      </div> <br>
      {{ page.description }}
      {% if page.descriptionLinks %}
      <ul class="description-links">
        {% for links in page.descriptionLinks %}
        <li>
          <a href="{{ links.link.url }}">{{ links.link.text }}</a>
        </li>
        {% endfor %}
      </ul>
      {% endif %}
    </div>
  </div>
</div>
{% if page.youtubeEmbed %}
<!-- <div class="container text-center mb-5">
  <iframe width="600" height="337"
    src="{{ page.youtubeEmbed }}">
  </iframe>
</div> -->
<div class="embed-video mb-5">
  <embed
    src="{{ page.youtubeEmbed }}"
    wmode="transparent"
    type="video/mp4"
    width="100%" height="100%"
    allow="autoplay; encrypted-media; picture-in-picture"
    allowfullscreen
    title="embedded-youtube"
  >
</div>
{% endif %}
{% if page.descriptionExt and page.descriptionExt != empty %}
<div class="container mb-5">{{ page.descriptionExt }}</div>
{% endif %}

<div class="container">
  {% if page.contentStyle != "unstructured" %}
  <h4><strong>Onboarding Options</strong></h4>
  {% if page.onboard and page.onboard != empty %}
  <p>{{ page.onboardDescription }}</p>
  {% else %}
  Not Applicable
  {% endif %}

  {% if page.onboard contains "API Access" %}
  <h5> <img class="img-fluid mr-3" src="{{ site.baseurl }}/assets/images/key.svg" alt="components"> <strong>API Access
      through the API Services Portal</strong></h5>
  <div class="feature-card">
    <div class="card">
      <div class="card-header">
        {{ page.title }}
        {% if page.name %}
        ({{ page.name }})
        {% endif %}
      </div>
      <div class="card-body">
        <div class="row no-gutters">
          <div class="col-sm-3">API Capability</div>
          <div class="col-sm-9">{{ content }}</div>
        </div>
        <div class="row no-gutters">
          <div class="col-sm-3">API Review</div>
          <div class="col-sm-9">
            {% if page.urls.docs or page.urls.postman %}
            {% if page.urls.docs %}
            <a href="{{ page.urls.docs }}" target="_blank">Specification
              <i class="fas fa-external-link-square-alt"></i>
            </a>
            {% endif %}
            {% if page.urls.postman %}
            <br /> <br />
            <a href="{{ page.urls.postman }}" target="_blank" download>Postman Collection
              <i class="fas fa-download"></i>
            </a>
            {% endif %}
            {% if page.urls.postmanHelp %}
            <br /> <br />
            <a href="{{ page.urls.postmanHelp }}" target="_blank" download>Postman Collection Help
              <i class="fas fa-download"></i>
            </a>
            {% endif %}
            {% else %}
            Not Applicable
            {% endif %}
          </div>
        </div>
        <div class="row no-gutters">
          <div class="col-sm-3">Documentation</div>
          <div class="col-sm-9">
            {% if page.urls.guide %}
            <a href="{{ page.urls.guide }}" target="_blank">User Guide<i class="fas fa-external-link-square-alt"></i>
            </a>
            {% endif %}
          </div>
        </div>
        <div class="row no-gutters">
          <div class="col-sm-3">GitHub</div>
          <div class="col-sm-9">
            {% if page.urls.docs %}
            <a href="{{ page.urls.github }}" target="_blank">Repository
              <i class="fas fa-external-link-square-alt"></i>
            </a>
            {% else %}
            Not Applicable
            {% endif %}
          </div>
        </div>
        <div class="row no-gutters">
          <div class="col-sm-3">See in Action</div>
          <div class="col-sm-9">
            {% if page.urls.showcase %}
            <a href="{{ page.urls.showcase }}" target="_blank">Showcase App
              <i class="fas fa-external-link-square-alt"></i>
            </a>
            <hr>
            {{ page.showcaseDescription }}
            {% else %}
            Not Applicable
            {% endif %}
          </div>
        </div>
      </div>
    </div>

    {% if page.showChesAdvice %}
    <div class="mt-5 css-alert alert alert-info alert-dismissible fade show" role="alert" aria-labelledby="info"
      aria-describedby="desc">
      <div class="icon mr-3 fas fa-info-circle"></div>
      <div>
        <p class="mt-1">Please read our guide on <a target="_blank"
            href="https://github.com/bcgov/common-hosted-email-service/wiki/Best-Practices">Best Practices for use of
            the CHES messaging API</a>.</p>
      </div>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="mt-5 css-alert alert alert-warning alert-dismissible fade show" role="alert" aria-labelledby="warn"
    aria-describedby="desc">
    <div class="icon mr-3 fas fa-exclamation-triangle"></div>
    <div>
      <p class="mb-2 mt-1"><strong>Requests to the CHES API must originate from within the BC Government's SPANBC network.</strong></p>
      <p class="mb-2">If you are calling CHES from <b>outside</b> the SPANBC network (for example, if your application is
        hosted on Azure or AWS), you must first consult with OCIO Messaging (our underlying SMTP service provider)
        before requesting access to CHES. Failure to contact OCIO may affect your access to CHES.</p>
      <p>You can book a consultation via either of the following:</p>
      <p><ul>
        <li><b>iStore request, via your service desk:</b> Office Productivity > Consulting Services > Messaging and Collaboration - Consulting</li>
        <li><b>Email:</b> <a href="mailto:mcs@gov.bc.ca">mcs@gov.bc.ca</a> </li>
      </ul></p>
      <p>No prior consultation is required if your application is already on SPANBC (e.g. OpenShift); just make sure you indicate this in your API Services Portal request.</p>
    </div>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
    {% endif %}

    {% include common/apsBtn.html %}
  </div>
  {% endif %}

  {% if page.onboard contains "Hosted Service" %}
  <h5> <img class="img-fluid mr-3" src="{{ site.baseurl }}/assets/images/cloud.svg" alt="Hosted Service"><strong>Hosted
      Service</strong></h5>
  <div class="feature-card">
    <div class="card">
      <div class="card-header">
        {{ page.title }}
        {% if page.name %}
        ({{ page.name }})
        {% endif %}
      </div>
      <div class="card-body">
        <div class="row no-gutters">
          <div class="col-sm-3">Feature List</div>
          <div class="col-sm-9">{{ content }}</div>
        </div>
        <div class="row no-gutters">
          <div class="col-sm-3">Hosted URL</div>
          <div class="col-sm-9">
            <a href="{{ page.urls.hosted }}" target="_blank">{{ page.urls.hosted }}<i class="fas fa-external-link-square-alt"></i>
            </a>
          </div>
        </div>
        <div class="row no-gutters">
          <div class="col-sm-3">Documentation</div>
          <div class="col-sm-9">
            {% if page.urls.guide %}
            <a href="{{ page.urls.guide }}" target="_blank">User Guide<i class="fas fa-external-link-square-alt"></i>
            </a>
            {% endif %}
          </div>
        </div>

        <div class="row no-gutters">
          <div class="col-sm-3">GitHub</div>
          <div class="col-sm-9">
            <a href="{{ page.urls.github }}" target="_blank">Repository<i class="fas fa-external-link-square-alt"></i>
            </a>
          </div>
        </div>

        {% if page.urls.apiLink %}
        <div class="row no-gutters">
          <div class="col-sm-3">API</div>
          <div class="col-sm-9">
            <a href="{{ page.urls.apiLink.link }}" target="_blank">
              {{ page.urls.apiLink.text }}
              <i class="fas fa-external-link-square-alt"></i>
            </a>
          </div>
        </div>
        {% else %}
        <div class="row no-gutters">
          <div class="col-sm-3">API Review</div>
          <div class="col-sm-9">
            {% if page.urls.docs %}
            <a href="{{ page.urls.docs }}" target="_blank">Specification<i class="fas fa-external-link-square-alt"></i>
            </a>
            {% endif %}
            {% if page.urls.postman %}
            <br /> <br />
            <a href="{{ page.urls.postman }}" target="_blank" download>Postman Collection
              <i class="fas fa-download"></i>
            </a>
            {% endif %}
          </div>
        </div>
        {% endif %}

        {% if page.urls.ui %}
        <div class="row no-gutters">
          <div class="col-sm-3">UI Integration</div>
          <div class="col-sm-9">
            <a href="{{ page.urls.ui }}" target="_blank">BCBox<i class="fas fa-external-link-square-alt"></i>
            </a><br />
            <small>Manage and share your files through a web interface.</small>
          </div>
        </div>
        {% endif %}

      </div>
    </div>
    {% if page.button %}
    <div class="text-center mt-5">
      <a href="{{ page.urls.hosted}}" class="btn btn-primary" role="button" aria-disabled="true">{{ page.title }}</a>
    </div>
    {% endif %}
  </div>
  {% endif %}

  {% if page.onboard contains "Self-Hosted Service" %}
  <h5> <img class="img-fluid mr-3" src="{{ site.baseurl }}/assets/images/cloud.svg"
      alt="Self Hosted Service"><strong>Self-Hosted Service</strong></h5>
  <div class="feature-card">
    <div class="card">
      <div class="card-header">
        {{ page.title }}
        {% if page.name %}
        ({{ page.name }})
        {% endif %}
      </div>
      <div class="card-body">
        <div class="row no-gutters">
          <div class="col-sm-3">API Capability</div>
          <div class="col-sm-9">{{ content }}</div>
        </div>
        <div class="row no-gutters">
          <div class="col-sm-3">API Review</div>
          <div class="col-sm-9">
            {% if page.urls.docs or page.urls.postman %}
            {% if page.urls.docs %}
            <a href="{{ page.urls.docs }}" target="_blank">Specification<i class="fas fa-external-link-square-alt"></i>
            </a>
            {% endif %}
            {% if page.urls.postman %}
            <br /> <br />
            <a href="{{ page.urls.postman }}" target="_blank" download>Postman Collection<i class="fas fa-download"></i>
            </a>
            {% endif %}
            {% if page.urls.postmanHelp %}
            <br /> <br />
            <a href="{{ page.urls.postmanHelp }}" target="_blank" download>Postman Collection Help<i class="fas fa-download"></i>
            </a>
            {% endif %}
            {% else %}
            Not Applicable
            {% endif %}
          </div>
        </div>
        <div class="row no-gutters">
          <div class="col-sm-3">GitHub</div>
          <div class="col-sm-9">
            {% if page.urls.docs %}
            <a href="{{ page.urls.github }}" target="_blank">Repository<i class="fas fa-external-link-square-alt"></i>
            </a>
            {% else %}
            Not Applicable
            {% endif %}
          </div>
        </div>
        <div class="row no-gutters">
          <div class="col-sm-3">See in Action</div>
          <div class="col-sm-9">
            {% if page.urls.showcase %}
            <a href="{{ page.urls.showcase }}" target="_blank">Showcase App<i class="fas fa-external-link-square-alt"></i>
            </a>
            <hr>
            {{ page.showcaseDescription }}
            {% else %}
            Not Applicable
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endif %}

  {% if page.onboard contains "DockerHub" %}
  <h5> <img class="img-fluid mr-3" src="{{ site.baseurl }}/assets/images/Docker.svg" alt="Docker"> <strong>DockerHub
      @bcgovimage</strong></h5>
  {% include common/dockerTable.html param=page %}
  {% endif %}

  {% if page.onboard contains "NPM" %}
  <h5> <img class="img-fluid mr-3" src="{{ site.baseurl }}/assets/images/npm.svg" alt="npm"> <strong>NPM
      @bcgovimage</strong></h5>
  {% include common/npmTable.html param=page %}
  {% endif %}

  <!-- unstructured markdown content (eg: Certbot page)-->
  {% else %}
  <div class="unstructured-content">
    {{ content }}

    {% if page.onboard contains "DockerHub" %}
    <h5> <img class="img-fluid mr-3" src="{{ site.baseurl }}/assets/images/Docker.svg" alt="Docker"> <strong>DockerHub
        @bcgovimage</strong></h5>
    {% include common/dockerTable.html param=page %}
    {% endif %}
  </div>
  {% endif %}
</div>
